.mxproject
*.o
*.dep
*.xcl
*.pbi
*.pbd
*.browse
*.pbw
EWARM/LinuxCnc-hwstepgen/BrowseInfo/
EWARM/LinuxCnc-hwstepgen/Exe/
EWARM/LinuxCnc-hwstepgen/List/
EWARM/settings/
*.ninja_deps
*.ninja_log
EWARM/LinuxCnc-hwstepgen-u575/List/
EWARM/LinuxCnc-hwstepgen-u575/BrowseInfo/
EWARM/LinuxCnc-hwstepgen-u575/Exe/
EWARM/LinuxCnc-hwstepgen-u575.ewt
*.d
*.su
*.cyclo
*.mk
Debug/LinuxCnc-hwstepgen-u575.elf
*.prefs
Debug/
